<button (click)="LogOut()" >LogOut</button>

<table class="table" >
    <thead>
        <tr>
            <th scope="col" >Nombre</th>
            <th scope="col" >Primer Apellido</th>
            <th scope="col" >Segundo Apellido</th>
            <th scope="col" >Edad</th>
            <th scope="col" >Email</th>
            <th scope="col" >Telefono</th>
            <th scope="col" >Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor=" let cliente of clientes " >
            <td> {{cliente.nombre}} </td>
            <td> {{cliente.apellido_1}} </td>
            <td>{{cliente.apellido_2}}</td>
            <td> {{cliente.edad}} </td>
            <td> {{cliente.email}} </td>
            <td>{{cliente.phone_number}}</td>
            <td> <span (click)="EditCliente(cliente.id)" >Editar</span> <br> <span (click)="BorrarCliente(cliente.id)" > Borrar </span> </td>
        </tr>
    </tbody>
</table>