<div>
    <div class="row d-flex justify-content-center " style="padding:20px;" >
       <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4  " >
        
         <!-- <button (click)="aVentaOnline()" > Producto Para venta Online </button> -->
         
        
        <app-producto-nuevo [familia_producto]="familia_producto" (CrearProducto)="CrearProducto($event)" ></app-producto-nuevo>
        
        
        
        <!-- <button  > Crear Producto </button> -->
       </div>

       <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8" >
          <!-- Button to clear selection -->
            <button (click)="clearSelection()">Clear Selection</button>
            <!-- AG Grid Angular Component -->
            <!-- | async -->
            <!-- (gridReady)="onGridReady($event)" -->
            <ag-grid-angular
            style="width: 100%; height: 100vh"
            class="ag-theme-alpine"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [rowData]="rowData$ "
            [rowSelection]="'multiple'"
            [animateRows]="true"
            (cellClicked)="onCellClicked($event)"
            (gridReady)="onGridReady($event)"
            >
           <!-- 
            [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData"
      [getRowStyle]="getRowStyle"
      (gridReady)="onGridReady($event)"
            -->
         </ag-grid-angular>
       </div>
    </div>
</div>